node1 ansible_connection=ssh ansible_host=${ec2_ip} ansible_user=${ec2_username} ansible_ssh_private_key_file=${ec2_ssh_path}
node2 ansible_connection=ssh ansible_host=${vm_ip} ansible_user=${vm_username} ansible_ssh_pass=${vm_pass}

[aws_nodes]
node1

[azure_nodes]
node2

[web_nodes:children]
azure_nodes
aws_nodes